stock.xlsx
app.logs
app.log
__pycache__
__init__.py
.~lock.stock.xlsx#
stock.xlsx.bak
sales.xlsx
inventory_backup_20260125_1622.xlsx
inventory_backup_*_*.xlsx
.~lock.sales.xlsx#
invoices.db
low_stock.xlsx
app/utils/invoices_backup_20260125_200805.db
*.db
basalam_orders.xlsx
dist/Armkala
build/Armkala/xref-Armkala.html
build/Armkala/warn-Armkala.txt
build/Armkala/localpycs/struct.pyc
build/Armkala/localpycs/pyimod03_ctypes.pyc
build/Armkala/localpycs/pyimod02_importers.pyc
build/Armkala/localpycs/pyimod01_archive.pyc
build/Armkala/base_library.zip
build/Armkala/PYZ-00.toc
build/Armkala/PYZ-00.pyz
build/Armkala/PKG-00.toc
build/Armkala/EXE-00.toc
build/Armkala/Armkala.pkg
build/Armkala/Analysis-00.toc
Armkala.spec
.~lock.basalam_orders.xlsx#
logs/crash.log
low_stoasdck.xlsx
basalam_sdfsdforders.xlsx
